@using Trang_Tin_News.Models

<html>
<head>

</head>
<body>
    <form>
        Author: @ViewBag.user.Fullname
        <br />
        <br />
        Title: @ViewBag.news.Title
        <br />
        <br />
       Category: @ViewBag.category.Title"
       <br />
        <br />
        Content: @ViewBag.news.Body


    </form>
</body>
</html>